@import 'reset';
@import 'base';
@import '../fonts/fonts';
$bg-color: white;
$primary: #16395b;
$font-demi: "AvenirNextCyr-Demi", sans-serif;


%btn-search{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
}

%btns{
  font-family: $font-demi;
    background: $bg-color;
    padding: 8px 14px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #c6d7ef;
    border-radius: 20px;
    transition: all 0.8s;
    &:active,
    &:focus{
      outline: none;
      background-color: #07d9b4;
      border: 1px solid #07d9b4;
      
    }
}

%doctor-reviews{
  color: #707070;
  font-size: 13px;
}


%doctor-reviews_icons{
  padding: 0 18px;
  border-radius: 9999px;
  background-color: #e4edfe;
  position: relative;
  height: 34px;
  margin: auto 3px;
}


%doctor-reviews_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.uppercase{
  text-transform: uppercase;
}
strong{
  font-family: $font-demi;
}

//     nav
.nav{
  color: $primary;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 70px;
  .nav-form{
    
    .nav-form_wrapper{
      position: relative;
      input{
        background-color: #F6F4FC;
        border-radius: 6px;
        border-color: rgba(0,0,0,0);
        font-size: 16px;
        width: 100%;
        padding: 12px;
        border: 1px solid #545784;
        &::placeholder{
          color: $primary;
          font-size: 14px;
        }
      }
      .btn-search{
       @extend %btn-search;
       
      }
    }
  }
  


  .nav-interact{
    display: flex;
    align-items: center;
    flex-basis: 400px;
    justify-content: space-around;
    justify-content: space-evenly;

    .nav-dropdown{
      font-size: 18px;
      position: relative;
      .dropdown-menu{
        display: flex;
        position: absolute;  
        margin-top: 10px;
        opacity: 0;
        background-color: rgba(137, 135, 143, 0.767);
        flex-direction: column;
        padding: 18px 25px;
        border-radius: 4px;
        transition: opacity 0.3s;
      }
      .dropdown-Large{
        display: flex;
      }
      .show{
        opacity: 1;
      }

    }
    .nav-login{
      flex-basis: 150px;
      background-color: $bg-color;
      padding: 15px 0;
      font-size: 18px;
      color: $primary;
      box-shadow: 0 10px 9px rgba(0, 0, 0, 0.164);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      justify-content: space-evenly;
      transition: transform 0.4s ease-in-out;
      &:hover{
        transform: translate(1px, 1px);
      }
    }
  }
  
  .nav-menu{
    font-size: 14px;
    a{
      font-family: 'AvenirNextCyr-Medium';
      display: flex;
      align-items: center;
      text-decoration: none;
     
      img{
        padding-left: 5px;
      }
    }
    text-transform: uppercase;
    display: contents;
  }
}

@media (min-width: 320px) {
  .nav {
    .messages{
      display: block;
      position: relative;
      
      .messages_span{
        position: absolute;
        top: -30%;
        background-color: #16395b;
        color: white;
        width: 25px;
        border-radius: 30px;
      }
    }
    .nav-login_small{
      display: block;
      img{
        border-radius: 999px;
      }
    }
    .nav-form{
      margin-top: 30px;
      .nav-form_wrapper{
        .input-Large{
          display: none;
        }
        .input-Small{
          display: block;
        }
      }
    }
    .nav-menu{
      .menuBig{
        display: none;
      }
    }
    .nav-interact{
      .dropdown-Large{
        display: none;
      }
      .nav-login_Large{
        display: none;
      }
    }
  }
  .logoBig{
    display: none;
  }
  .logoLittle{
    display: block;
  }
}
@media(min-width: 360px){
  .nav .messages{

    padding-left: 20px;
  }
}
@media (min-width: 576px) {
  .nav {
    max-width: 710px;
    
  }
}

@media (min-width: 768px) {
  .nav {
    .messages{
      display:none;
    }
    .nav-form{
      margin-top: 0;
      .nav-form_wrapper{
        input{
          padding: 18px;
        }
        .input-Large{
          display:block;
        }
        .input-Small{
          display: none;
        }
      }
    }
    .nav-login_small{
      display:none;
    }
    max-width: 960px;
    .nav-interact{
      .dropdown-Large{
        display: flex;
      }
      .nav-login_Large{
        display: flex;
      }
    }
  }
  
}

@media (min-width: 992px) {
  .nav {
    max-width: 1190px;
    .nav-menu{
      .menuBig{
          display: block;
      }
    }
  }
  .logoLittle{
    display: none;
  }
  .logoBig{
    display: block;
  }
}

@media (min-width: 1300px) {
  .nav {
    max-width: 1400px;
  }
}

@media (min-width: 1500px) {
  .nav {
    max-width: 1460px;
  }
  
}




// header


.header{
  padding: 0;
  position: relative;
  height: 200px;
  transition: height 0.5s ease;
  .header-up{
    border-radius: 6px;
    background: url('../images/header/bg.jpg') center no-repeat;
    background-size: cover;
    margin-right: 15px;
    margin-left: 15px;
    height: 200px;
    align-items: flex-end;
    img{
      position: absolute;
      width: 82px;
      height: 82px;
      top: -20%;
      left: 5%;
      border-radius: 9999px;
    }
  
    .header_name{
      padding-bottom: 20px;
      h1{
        font-size: 18px;
        color: $bg-color;
        font: $font-demi;
      }
      p{
        font-size: 12px;
        color: $bg-color;
        font: $font-demi;
      }
    }
  }
  .collabse-btn{
    position: absolute;
    right: 7%;
    bottom: -8%;
    background-color: $bg-color;
    transition: all .5s ease;
    border-radius: 99999px;
    z-index: 6;
    width: 30px;
    height: 30px;
    &:focus{
      outline: none;
    }
    .fa {
      transition: .3s transform ease-in-out,
      color 0.3s;
    }
  }
  .collapsed{
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.164);
  }
  .collapsed .fa {
    transform: rotate(180deg);
    color: #06cf9a;
  }
  .header-table{
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    height: 0;
    transition: height .5s;
    overflow: hidden;
    display: block;
    z-index: 5;
    ul{
      padding-bottom: 12px;
    }
    .main-info{
      padding-bottom: 10px;
    }
    .schedule{
      display: flex;
      justify-content: center;
      text-align: left;
      padding: 10px 0 10px 5px;
      ul{
        padding-right: 15px;
      }
    }
  }
  .header-table_active{
    height: 311px;
    background: white;
  }  
}
.header-active{
  height: 537px;
}
.header .header-up .header_logo_fix{
  top: -7%;
}
@media (min-width: 355px){
  .header .header-table{
    width: 90%;
  }
}


@media (min-width: 455px){
  .header .header-up .header_name h1{
    font-size: 22px;
  }
}
@media (min-width: 768px){
  .header{
    margin-top: 35px;
    padding: 0;
    position: relative;
    height: 390px;
    font-size: 12px;
    .header-up{
      height: 390px;
      img{
        width: 120px;
        top: -15%;
        left: 7%;
        height: 120px;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        border-radius: 9999px;
      }
      .header_logo_fix{
        top: -15%;
      }
      .header_name{
        h1{
          font-size: 20px;
          line-height: 2;
          font-weight: 700;
        }
        p{
          font-size: 15px;
        }
      }
    }
    .header-table{
      position: absolute; 
      border-radius: 20px 20px 0 0;
      width: auto;
      width: initial;
      margin: 0;
      right: 54px;
      height: 176px;
      bottom: 0;
      background: white;
      text-align: left;
      padding: 15px 30px;
      .schedule{
        justify-content: baseline;
        padding: 10px 0;
      }
    }
    .collabse-btn_small{
      display: block;
      right: 11%;
      top: 51.3%;
      z-index: 6;
      .fa{
        transform: rotate(180deg);
      }
    }
    .collapsed{
      top: 19%;
      transform: rotate(-180deg); 
    }
    .header-table_active{
      height: 302px;
    }
  }
}

@media (min-width: 795px){
  .header{
    height: 390px;
    font-size: 13px;
    .header-table{
      height: 183px;

    }
    .header-table_active{
      height: 302px;
    }
    .collabse-btn_small{
      top: 49.3%;
    }
    .collapsed{
      top: 19%;
      transform: rotate(-180deg); 
    }
  }
  .header .header-up .header_name{
    h1{
      font-size: 21px;
    }
  }
}

@media (min-width: 992px){
  .header{
    .collabse-btn_small{
      right: 8%;
    }
    .header-up{
      img{
        width: 120px;
        height: 120px;
        top: 84%;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0px 10px rgba(0,0,0,0.3);
        left: 5%;
        border-radius: 9999px;
      }
      .header_logo_fix{
        top: 84%;
      }
      
      .header_name{
        h1{
          font-size: 23px;
          line-height: 2;
          font-weight: 700;
        }
        p{
          font-size: 15px;
        }

      }
    }
  }
}
@media (min-width: 1300px){
  .header .header-up .header_name h1{
    font-size: 30px;
    line-height: 1.1;
  }
}

//header down


.header-down{
.header-reviews{
  font-family: $font-demi;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  p{
    padding-top: 5px;
  }
}
.header-btns{
  justify-content: center;
  margin: 10px auto;
  .header-down_btn{
    @extend %btns;
    
  }
  .status-btn{
    flex-grow: 0.3;
  }
  .status-btn_inactive{
    display: none;
  }
  .about-btn{
    flex-grow: 0.5;
  }
  
  .active-about{
    flex-grow: 0.7;
  }
  .location-btn{
    position: relative;
    padding: 10px 18px;
    img{
      position: absolute;
      transform: translate(-50%,-50%);
      background-color: #07d9b4;
    }
  }
  .header_location-large{
    display: none;
  }
  }
}


// gallery 
.gallery-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
  .gallery{
    transition: height 0.5s;
    height: 0;
    width: max-content;
    img{
      height: 100%;
      border-radius: 6px;
    }
    .gallery-main-elem{
      filter: brightness(50%);
    }
    a{
      height: 100%;
      display: inline-block;
    }
    .hendler{
      position: relative;
      padding: 0;
      .images_amount{
        position: absolute;
        top: 50%;
        left: 50%;
        color: $bg-color;
        transform: translate(-50%, -50%);
      }
    }
  }
  .gallery-active{
    height: 40vh;
  }
  
}

@media (min-width: 768px){
  .header-down{
    margin-top: 15px;
  }
  .gallery-wrap .gallery-active {
    height: 70vh;
  }
}

@media(min-width: 992px){
  .header-down .header-btns .header_location-large{
    display: block;
  }
  .header-down .header-btns .header_location-small{
    display: none;
  }
  .gallery-wrap .gallery-active {
    height: 50vh;
  }
  .header-down{
    align-items: baseline;

  }
  .revews-business{
   display: none;
  }
  .reviews{
  padding: 0;
  }
  .header-down .header-reviews{
  padding-left: 100px;
  }
  .header-reviews{
    justify-content: flex-end;
  }
}

@media(min-width: 1200px){
  .header-down .header-btns{
    margin: 0;
  }
  
  
  .reviews-pl{
     max-width: 50%;
  }
  
 }


// doctors list

.doctors-list{
  margin-bottom: 20px;
  .doctors_heading{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h2{
      color: #16395B;
      font-family: $font-demi;
      font-size: 24px;
    }
    p{
      font-family: $font-demi;
      color: #00d7a9;
      text-transform: uppercase;
    }
  }


  .doctor-item{
    display: flex;
    flex-wrap: wrap;
    background-color: $bg-color;
    overflow: hidden;
    border: 1px solid #d2e1f5;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    &_like{
      position: absolute;
      top: 2%;
      left: 5%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 9999px;
    }
    &_info{
      flex-basis: 72%;
      text-align: right;
      padding-right: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      h5{
        font-size: 15px;
        flex-basis: 70%;
        font-family: $font-demi;
      }
      p{
        font-size: 12px;
        color: #0943bf;
      }
    }
    &_photo{
      height: 80px;
      flex-basis: 22%;
      position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          background-color: #00d7a9;
          border: 3px solid #ffffff;
          width: 13px;
          height: 13px;
          border-radius: 99999px;
          bottom: 5%;
          left: 14%;
        }
      &__status{
        font-size: 14px;
      }
    }
    &_reviews{
      margin-top: 33px;
      display: flex;
      width: 100%;
      &__rait{
        flex-basis: 33.3333%;
        display: flex;
        justify-content: flex-end;
        &___item{
          display: flex;
          text-align: right;
          flex-direction: column;
          p{
            display: inline-block;
            max-width: 100%;
            color: #0943bf;
            font-size: 13px;
          }
          &-sub{
            @extend %doctor-reviews;
          }
        }
        &___img{
          @extend %doctor-reviews_icons;
          margin-left: 5px;
          img{
            @extend %doctor-reviews_icon;
          }
        }
      }
    }
    &_reviewsLocation{
      margin-top: 10px;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      &__locationInfo{
        text-align: right;
        padding-right: 7px;
        p{
        font-size: 13px;  
        }
        &-sub{
          @extend %doctor-reviews;
        }
      }
      &__icon{
        @extend %doctor-reviews_icons;
        padding: 19px;
          img{
            @extend %doctor-reviews_icon;
            
          }
      }
    }
    &_services_wrapper{
      order: 5;
      display: flex;
      flex-wrap: wrap;
      &__inner{
        flex-grow: 1;
        text-align: right;
        h6{
          padding: 7px 0 4px;
        }
        &__gray{
          color: #707070;
          font-family: $font-demi;
        }
        .doctor-pl{
          padding-left: 4px;
        }
      }

      &_btns{
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        justify-content: space-evenly;
        flex-grow: 1;
        &__btn{
          @extend %btns;
          margin: 4px 0;
          padding: 8px 10px;
          &:active, 
          &:focus{
            background-color: white;
            background-color: initial;
          }
        }
        &__grow{
          padding-right: 2rem;
          padding-left:  2rem;
        }

      }

    }

  }
  .doctor-item_services_wrapper_btns__large{
    display: none;
  }
}

// fix img carousel
.owl-carousel .owl-item img{
  width: auto;
  width: initial;
}


@media (min-width: 358px){
  .doctors-list {
    .doctor-item_info{
      flex-basis: 76%;
    }
    .doctor-item_services_wrapper_btns__btn{
      padding-top: 11px;
      padding-bottom: 11px;
      flex-grow: 0.3;
    }
     .doctor-item_info h5{
      font-size: 18px;
    }
     .doctor-item_info p{
      font-size: 13px;
    }
  }
}

@media (min-width: 392px){
  .doctors-list .doctor-item_photo:after{
    left: 11%;
    bottom: 0;
  }
  
}
@media (min-width: 780px) {
  .doctors-list{
    .doctor-item{
      max-width: 360px;
    }
    .doctor-item_photo:after{
      bottom: 5%;
    }
    .doctor-item_services_wrapper__inner{
      h6{
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 840px) {
  .doctors-list{
    .doctor-item{
      max-width: 400px;
      &_photo:after{
        bottom: 0;
      }
    }
    &_reviewsLocation__icon img{
      height: 21px;
    }
    &_reviews__rait___item p{
      font-size: 16px;
    }
  }

}
@media (min-width: 1024px) {
  
  .doctors-list {
    .doctor-item{
      padding: 23px;
      border: none;
      border-radius: 10px;
      transition: .5s;
      max-width: 310px;
      .doctor_large{
        display: block;
      }
      &_like{
        top: 3%;
        left: auto;
        left: initial;
        right: 4%;
        background-color: white;
        z-index: 1;
      }
      &_info{
        order: 3;
        margin-top: 17px;
        flex-basis: auto;
        flex-basis: initial;
        text-align: left;
        justify-content: flex-start;
        h5{
          font-size: 20px;
          flex-basis: 75%;
          margin-bottom: 5px;
        }
        &__semiTransparent{
   //       opacity: 0.5;
        }
        &__transparent{
   //       opacity: 0;
        }
        p{
          font-size: 16px;
          transition: opacity 0.3s;
        }
      }
      &_photo{
        order: 2;
        flex-basis: 32%;
        figcaption{
          text-align: center;
          margin-top: 4px;
        }
      }
      &_reviews{
        order: 1;
        flex-direction: column;
        width: auto;
        width: initial;
        flex-basis: 68%;
        margin-top: 0;
        &__rait{
          margin-bottom: 10px;
          justify-content: flex-start;
          &___item{
            margin-left: 6px;
            order: 1;
            text-align: left;
          }
          
        }
      }
      &_reviewsLocation{
        order: 4;
        position: relative;
        justify-content: initial;
        &__locationInfo{
          order: 1;
          font-size: 14px;
          strong{
            font-size: 14px;
          }
          &-sub{
            transition: opacity 0.3s;
            position: absolute;
          //  opacity: 0;
          }
        }
        &__icon{
          background-color: initial;
        }
      }
      .doctor-item_services_wrapper__inner{
        order: 5;
        text-align: left;
        margin-top: 30px;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          display: block;
          width: 312px;
          height: 1px;
          background-color: #d2e1f5;
          transform: translateX(-7.5%);
        }
        h6{
          font-size: 16px;
          padding-top: 18px;
        }
        p{
          display: flex;
          flex-basis: 70%;
          width: 71%;
          justify-content: space-between;
        }
      }
      .doctor-item_services_wrapper_btns{
        order: 6;
        justify-content: space-between;
        &__btn{
          flex-grow: 0.4;
        }
        &__grow{
          padding-right: 1.3rem;
          padding-left:  1.3rem;
        }
      }
    }
    .doctor-item_services_wrapper_btns__small{
      display: none;
    }
    .doctor-item_services_wrapper_btns__large{
      display: block;
    }
    .doctors_small{
      display: none;
    }
  }
}


@media (min-width: 1300px){
  .doctors-list{
    .doctor-item{
      padding: 21px;
      border: none;
      border-radius: 15px;
      max-width: 292px;
    }
  }
}


// footer 

.footer{
  color: $bg-color;
  font-size: 14px;
  background: url('../images/footer/footer_mobile.png') center top no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 30px;
  &-top{
    h6{
      font-size: 18px;
    }  
    &_references{
      li{
        margin-top: 10px;
        opacity: 0.7;
      }
    }
    &_contacts{
      p{
        margin-top: 10px;
      }
      &__mail{
        color: #00d793;
      }
      &__social{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        a{
          background-color: #fff;
          padding: 13px 19px;
          font-size: 9px;
          border-radius: 999px;
          position: relative;
          transition: background-color 0.5s;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          &:focus,
          &:active,
          &:hover{
            background-color: #00ffc8;
          }
          img{
            @extend %doctor-reviews_icon;
          }
        }
      }
    }
    &_subscription{
      margin-top: 20px;
      &__wrap{
        position: relative;
      }
      label{
        font-size: 18px;
        font-family: $font-demi;
      }
      input{
        background-color: #244c83;
        border: none;
        border-bottom: 1px solid #06cf9a;
        border-radius: 0.25rem 0.25rem 0 0;
      }
      .btn-search{
        @extend %btn-search;
      }
    }
    &_language{
      margin-top: 27px;
      &__outer{
        width: 100%;
        position: relative;
        &:after{
          content: '';
          background: url('../images/footer/dropdownSelect.png') no-repeat;
          color: #000;
          position: absolute;
          right: 0;
          top: 18px;
          z-index: 1;
          width: 10%;
          height: 100%;
          pointer-events: none;
        }
        select{
          background-color: #244c83;
          color: $bg-color;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
  }
  &-bottom {
    margin-top: 25px;
    &_copyrights{
      display: flex;
      align-items: center;
      img {
        margin-right: 20px;
      }
    }
    &_regulations{
      margin-top: 25px;
      &__list {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        li{
          padding-right: 10px;
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }
  &_large{
    display: none;
  }
}

@media(min-width: 400px){
  .footer{
    &-top_contacts__social{
      justify-content: flex-start;
      a{
        margin-right: 15px;
      }
    }
  }
}
@media (min-width: 536px) {
  .footer{
    max-width: 100%;
    padding-top: 167px;
    background-size: 834px 743px;
  }
}

@media (min-width: 768px) {
  .footer {
    max-width: 960px;
    background-size: 1024px 766px;
    &-bottom{
      align-items: center;
    }
    &-top_subscription{
      margin-top: 0;
    }
    &-bottom_regulations{
      margin-top: 0;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    max-width: 1080px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding-top: 80px;
    background: none;
    color: #16395b;
    &_large{
      display: block;
    }
    &_small{
      display: none;
    }
    &-top_subscription input{
      background: none;
      margin-top: 10px;
      &::placeholder{
        font-size: 14px;
        color: inherit;
        font-family: $font-demi;
      }
    }
    &-top_references{
      a{
        transition: color .5s;
        &:hover{
          text-decoration: none;
          color: #26605c;
        }
      }
      li{
      font-family: $font-demi;
      color: #010101;
      }
    }
    &-top_contacts__mail{
      color: #00d793;
      font-family: $font-demi;
      transition: color .4s;
      &:hover,
      &:focus{
        text-decoration: none;
        color: #40a84f;
      }
    }
    &-top_language__outer{
      &::after {
        background: url('../images/footer/arrow_large.png') no-repeat;
        top: 15px;
      }
      select{
        border: 1px solid #545784;
        font-family: $font-demi;
        background: none;
        font-size: 14px;
        color: inherit;
      }
    }
    &-bottom_regulations__list{
      justify-content: flex-end;
      font-family: $font-demi;
      color: #16395b;
    }
  }
}



@media (min-width: 1300px) {
  .footer {
    max-width: 1240px;
  }
}

@media (min-width: 1500px) {
  .footer {
    max-width: 1460px;
  }
}