@import 'reset';
@import 'base';
@import '../fonts/fonts';
$bg-color: white;
$primary: #16395b;
$font-demi: "AvenirNextCyr-Demi", sans-serif;

%doctor-reviews{
  color: #707070;
  font-size: 13px;
}
%doctor-reviews_icons{
  padding: 4px 18px;
  border-radius: 9999px;
  background-color: #e4edfe;
  position: relative;
}
%doctor-reviews_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.uppercase{
  text-transform: uppercase;
}
strong{
  font-family: $font-demi;
}

//     nav
.nav{
  color: $primary;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 70px;
  .nav-form{
    
    .nav-form_wrapper{
      position: relative;
      input{
        background-color: #F6F4FC;
        border-radius: 6px;
        border-color: rgba(0,0,0,0);
        font-size: 16px;
        width: 100%;
        padding: 12px;
        border: 1px solid #545784;
        &::placeholder{
          color: $primary;
          font-size: 14px;
        }
      }
      .btn-search{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
       
      }
    }
  }
  


  .nav-interact{
    display: flex;
    align-items: center;
    flex-basis: 400px;
    justify-content: space-evenly;

    .nav-dropdown{
      font-size: 18px;
      position: relative;
      .dropdown-menu{
        display: flex;
        position: absolute;  
        margin-top: 10px;
        opacity: 0;
        background-color: rgba(137, 135, 143, 0.767);
        flex-direction: column;
        padding: 18px 25px;
        border-radius: 4px;
        transition: opacity 0.3s;
      }
      .dropdown-Large{
        display: flex;
      }
      .show{
        opacity: 1;
      }

    }
    .nav-login{
      flex-basis: 150px;
      background-color: $bg-color;
      padding: 15px 0;
      font-size: 18px;
      color: $primary;
      box-shadow: 0 10px 9px rgba(0, 0, 0, 0.164);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transition: transform 0.4s ease-in-out;
      &:hover{
        transform: translate(1px, 1px);
      }
    }
  }
  
  .nav-menu{
    font-size: 14px;
    a{
      font-family: 'AvenirNextCyr-Medium';
      display: flex;
      align-items: center;
      text-decoration: none;
     
      img{
        padding-left: 5px;
      }
    }
    text-transform: uppercase;
    display: contents;
  }
}

@media (min-width: 320px) {
  .nav {
    .messages{
      display: block;
      position: relative;
      
      .messages_span{
        position: absolute;
        top: -30%;
        background-color: #16395b;
        color: white;
        width: 25px;
        border-radius: 30px;
      }
    }
    .nav-login_small{
      display: block;
      img{
        border-radius: 999px;
      }
    }
    .nav-form{
      margin-top: 30px;
      .nav-form_wrapper{
        .input-Large{
          display: none;
        }
        .input-Small{
          display: block;
        }
      }
    }
    .nav-menu{
      .menuBig{
        display: none;
      }
    }
    .nav-interact{
      .dropdown-Large{
        display: none;
      }
      .nav-login_Large{
        display: none;
      }
    }
  }
  .logoBig{
    display: none;
  }
  .logoLittle{
    display: block;
  }
}
@media(min-width: 360px){
  .nav .messages{

    padding-left: 20px;
  }
}
@media (min-width: 576px) {
  .nav {
    max-width: 710px;
    
  }
}

@media (min-width: 768px) {
  .nav {
    .messages{
      display:none;
    }
    .nav-form{
      margin-top: 0;
      .nav-form_wrapper{
        input{
          padding: 18px;
        }
        .input-Large{
          display:block;
        }
        .input-Small{
          display: none;
        }
      }
    }
    .nav-login_small{
      display:none;
    }
    max-width: 960px;
    .nav-interact{
      .dropdown-Large{
        display: flex;
      }
      .nav-login_Large{
        display: flex;
      }
    }
  }
  
}

@media (min-width: 992px) {
  .nav {
    max-width: 1190px;
    .nav-menu{
      .menuBig{
          display: block;
      }
    }
  }
  .logoLittle{
    display: none;
  }
  .logoBig{
    display: block;
  }
}

@media (min-width: 1300px) {
  .nav {
    max-width: 1400px;
  }
}

@media (min-width: 1500px) {
  .nav {
    max-width: 1460px;
  }
  
}




// header


.header{
  padding: 0;
  position: relative;
  height: 200px;
  transition: height 0.5s ease;
  .header-up{
    border-radius: 6px;
    background: url('../images/header/bg.jpg') center no-repeat;
    background-size: cover;
    margin-right: 15px;
    margin-left: 15px;
    height: 200px;
    align-items: flex-end;
    img{
      position: absolute;
      width: 82px;
      height: 82px;
      top: -20%;
      left: 5%;
      border-radius: 9999px;
    }
  
    .header_name{
      padding-bottom: 20px;
      h1{
        font-size: 18px;
        color: $bg-color;
        font: $font-demi;
      }
      p{
        font-size: 12px;
        color: $bg-color;
        font: $font-demi;
      }
    }
  }
  .collabse-btn{
    position: absolute;
    right: 7%;
    bottom: -8%;
    background-color: $bg-color;
    transition: all .5s ease;
    border-radius: 99999px;
    z-index: 6;
    width: 30px;
    height: 30px;
    &:focus{
      outline: none;
    }
    .fa {
      transition: .3s transform ease-in-out,
      color 0.3s;
    }
  }
  .collapsed{
    bottom: 0%;
    border: 1px solid rgba(0, 0, 0, 0.164);
  }
  .collapsed .fa {
    transform: rotate(180deg);
    color: #06cf9a;
  }
  .header-table{
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    height: 0;
    transition: height .5s;
    overflow: hidden;
    display: block;
    z-index: 5;
    ul{
      padding-bottom: 12px;
    }
    .main-info{
      padding-bottom: 10px;
    }
    .schedule{
      display: flex;
      justify-content: center;
      text-align: initial;
      padding: 10px 0 10px 5px;
      ul{
        padding-right: 15px;
      }
    }
  }
  .header-table_active{
    height: 311px;
    background: white;
  }  
}
.header-active{
  height: 537px;
}
.header .header-up .header_logo_fix{
  top: -7%;
}
@media (min-width: 355px){
  .header .header-table{
    width: 90%;
  }
}


@media (min-width: 455px){
  .header .header-up .header_name h1{
    font-size: 22px;
  }
}
@media (min-width: 768px){
  .header{
    margin-top: 35px;
    padding: 0;
    position: relative;
    height: 390px;
    font-size: 12px;
    .header-up{
      height: 390px;
      img{
        width: 120px;
        top: -15%;
        left: 7%;
        height: 120px;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0px 10px rgba(0,0,0,0.3);
        border-radius: 9999px;
      }
      .header_logo_fix{
        top: -15%;
      }
      .header_name{
        h1{
          font-size: 20px;
          line-height: 2;
          font-weight: 700;
        }
        p{
          font-size: 15px;
        }
      }
    }
    .header-table{
      position: absolute; 
      position: absolute;
      border-radius: 20px 20px 0 0;
      width: initial;
      margin: 0;
      right: 54px;
      height: 176px;
      bottom: 0;
      background: white;
      text-align: initial;
      padding: 15px 30px;
      .schedule{
        justify-content: baseline;
        padding: 10px 0;
      }
    }
    .collabse-btn_small{
      display: block;
      right: 11%;
      top: 51.3%;
      z-index: 6;
      .fa{
        transform: rotate(180deg);
      }
    }
    .collapsed{
      top: 19%;
      transform: rotate(-180deg); 
    }
    .header-table_active{
      height: 302px;
    }
  }
}

@media (min-width: 795px){
  .header{
    height: 390px;
    font-size: 13px;
    .header-table{
      height: 183px;

    }
    .header-table_active{
      height: 302px;
    }
    .collabse-btn_small{
      top: 49.3%;
    }
    .collapsed{
      top: 19%;
      transform: rotate(-180deg); 
    }
  }
  .header .header-up .header_name{
    h1{
      font-size: 21px;
    }
  }
}

@media (min-width: 992px){
  .header{
    .header-up{
      img{
        width: 120px;
        height: 120px;
        top: 84%;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0px 10px rgba(0,0,0,0.3);
        left: 5%;
        border-radius: 9999px;
      }
      .header_logo_fix{
        top: 84%;
      }
      .header_name{
        h1{
          font-size: 23px;
          line-height: 2;
          font-weight: 700;
        }
        p{
          font-size: 15px;
        }

      }
    }
  }
}
@media (min-width: 1300px){
  .header .header-up .header_name h1{
    font-size: 30px;
    line-height: 1.1;
  }
}

//header down


.header-down{
.header-reviews{
  font-family: $font-demi;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  p{
    padding-top: 5px;
  }
}
.header-btns{
  justify-content: center;
  margin: 10px auto;
  .header-down_btn{
    font-family: $font-demi;
    background: $bg-color;
    padding: 8px 14px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #c6d7ef;
    border-radius: 20px;
    transition: all 0.8s;
    &:active,
    &:focus{
      outline: none;
      background-color: #07d9b4;
      border: 1px solid #07d9b4;
      
    }
    
  }
  .status-btn{
    flex-grow: 0.3;
  }
  .status-btn_inactive{
    display: none;
  }
  .about-btn{
    flex-grow: 0.5;
  }
  
  .active-about{
    flex-grow: 0.7;
  }
  .location-btn{
    position: relative;
    padding: 10px 18px;
    img{
      position: absolute;
      transform: translate(-50%,-50%);
      background-color: #07d9b4;
    }
  }
  .header_location-large{
    display: none;
  }
  }
}


.gallery-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  .gallery{
    transition: height 0.5s;
    height: 0;
    width: 3000px;
    img{
      height: 100%;
      border-radius: 6px;
    }
    .gallery-main-elem{
      filter: brightness(50%);
    }
    a{
      height: 100%;
      display: inline-block;
    }
    .hendler{
      position: relative;
      padding: 0;
      .images_amount{
        position: absolute;
        top: 50%;
        left: 50%;
        color: $bg-color;
        transform: translate(-50%, -50%);
      }
    }
  }
  .gallery-active{
    height: 30vh;
  }
  
}

@media (min-width: 768px){
  .header-down{
    margin-top: 15px;
  }
}

@media(min-width: 992px){
  .header-down .header-btns .header_location-large{
    display: block;
  }
  .header-down .header-btns .header_location-small{
    display: none;
  }
  
  .header-down{
    align-items: baseline;

  }
  .revews-business{
   display: none;
  }
  .reviews{
  padding: 0;
  }
  .header-down .header-reviews{
  padding-left: 100px;
  }
  .header-reviews{
    justify-content: flex-end;
  }
}

@media(min-width: 1200px){
  .header-down .header-btns{
    margin: 0;
  }
  
  
  .reviews-pl{
     max-width: 50%;
  }
  
 }


// doctors list

.doctors-list{
  margin-bottom: 100px;
  .doctors_heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h2{
      font-family: $font-demi;
      font-size: 24px;
    }
    p{
      font-family: $font-demi;
      color: #00d7a9;
      text-transform: uppercase;
    }
  }


  .item{
    display: flex;
    flex-wrap: wrap;
    background-color: $bg-color;
    border: 1px solid #d2e1f5;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    .doctor_like{
      position: absolute;
      top: 8%;
      left: 5%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 9999px;
    }
    .doctor_info{
      flex-basis: 70%;
      text-align: right;
      padding-right: 10px;
      h5{
        font-size: 15px;
        font-family: $font-demi;
      }
      p{
        font-size: 12px;
        color: #0943bf;
      }
    }
    .doctor-photo{
      height: 80px;
      flex-basis: 30%;
      .doctor-status{
        font-size: 14px;
      }
    }
    .doctor_reviews{
      margin-top: 33px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .doctor_reviews_bestDesign{
        width: 33%;
        display: flex;
        .doctor_reviews-niceDesign{
          display: flex;
          text-align: right;
          flex-direction: column;
          p{
            display: inline-block;
            max-width: 100%;
            color: #0943bf;
            font-size: 16px;
          }
          .doctor_reviews-sub{
            @extend %doctor-reviews;
          }
        }
        .droctor_reviews-img{
          @extend %doctor-reviews_icons;
          img{
            @extend %doctor-reviews_icon;
          }
        }
      }
    }
    .doctor_reviews-location{
      margin-top: 10px;
      display: flex;
      align-items: center;
      .doctor_reviews-location_info{
        text-align: right;
        p{
        font-size: 13px;  
        }
        .doctor_reviews-sub{
          @extend %doctor-reviews;
        }
      }
      .doctor_reviews-location_icon{
        @extend %doctor-reviews_icons;
        padding: 19px;
          img{
            @extend %doctor-reviews_icon;
          }
      }
    }
  }
}