
@font-face {
  font-family: 'AvenirNextCyr-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Regular'), url('../fonts/AvenirNextCyr-Regular.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Italic'), url('../fonts/AvenirNextCyr-Italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-Demi';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Demi'), url('../fonts/AvenirNextCyr-Demi.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-DemiItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-DemiItalic'), url('../fonts/AvenirNextCyr-DemiItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Thin'), url('../fonts/AvenirNextCyr-Thin.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-UltraLight'), url('../fonts/AvenirNextCyr-UltraLight.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-ThinItalic'), url('../fonts/AvenirNextCyr-ThinItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-UltraLightIt';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-UltraLightIt'), url('../fonts/AvenirNextCyr-UltraLightIt.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-Light';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Light'), url('../fonts/AvenirNextCyr-Light.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-LightItalic'), url('../fonts/AvenirNextCyr-LightItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Medium'), url('../fonts/AvenirNextCyr-Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-MediumItalic'), url('../fonts/AvenirNextCyr-MediumItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Bold'), url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-BoldItalic'), url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-Heavy'), url('../fonts/AvenirNextCyr-Heavy.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'AvenirNextCyr-HeavyItalic';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNextCyr-HeavyItalic'), url('../fonts/AvenirNextCyr-HeavyItalic.woff') format('woff');
  }